BODY {
	color:        black;
	background:   url(http://www.w3.org/StyleSheets/Core/source/graphics/textura.GIF) #FFFFF5;
	margin-left:  0.5in;
	margin-right: 0.25in;
}

/* Header Styles */
H1 { color: rgb(9,149,230) }
H2 { text-transform: uppercase; margin-top: 0.25in }
H1.doctitle { font-style: italic }
H2.doctitle { font-style: italic }


/* Standard Text Formatting */
P.chapter_intro:first-letter { 
	font: italic bold 14pt/18pt Bliss;
	color: blue;
}

A:link {
	text-decoration: underline;
	font-weight:     bold;
}
		
A:visited {
	text-decoration:	underline;
	font-weight:		bold;
}
		

A:active {
	background-color: 00CC66;
	text-decoration: none;
	font-weight:		bold;
}
		
A:hover	{
	color:				white;
	background-color:	blue;
	text-decoration:	underline;
	font-weight:		bold;
}
		
A.offsite {
	color:				navy;
	text-decoration:	underline;
	font-weight:		normal;
}

HR {
	color:		black;
	margin-top:	.5em;
	margin-bottom:	.75em;
	height:	1px;
}

/* Miscellaneous Items */
EM { text-decoration: bold }
PRE { font-family: "Courier New"; font-size: 12pt/14pt; margin-left: 0.5in }

DIV.code {
	display: block;
	color: navy;
	font-style: italic;
	margin-left: 0.75in;
	white-space: pre;
}

SPAN.code {
	display: inline;
	color: navy;
	font-style: italic;
}
SPAN.keyword { display: inline; color: navy; text-decoration: none; font-style: plain; font-weight: bold }
SPAN.comment { display: inline; color: navy; text-decoration: none; font-style: plain; }

.principle {
	background-color: #EEEEFF; 
	border: thin groove black; 
	margin-left: 1.0in;
	margin-right: 1.0in
}
.principle H3 { text-align: center }
.definition {
	background-color: #EEEEFF; 
	border: thin groove black; 
	margin-left: 1.0in;
	margin-right: 1.0in
}
.definition H3 { text-align: center }

DIV.adt {
	background-color: #EEEEFF; 
	border: thin groove black; 
	margin-left: 1.0in;
	margin-right: 1.0in
}

.aside { 
	display: block; 
	font: 10pt/12pt Times, serif; 
	margin-left: 0.5in; 
	margin-right: 0.5in 
}

.urgent { font-style: italic; font-weight: bold; color: red }

.citation { font-family: Times, serif; font-size: 10pt/12pt; margin: 0.5in }

.verse { margin-left: 0.5in; font: italic 12pt/14pt Times, serif }
.quote { margin-left: 0.5in; font: italic 14pt/16pt Times, serif }
.note { background-color: silver; border: thin groove navy }
